<main class="main-container">
  <section class="container">
    <div class="bar"></div>
    <form class="form">
      <div class="logo-container">
        <img
          class="logo"
          src="/img/ufal.png"
          alt="Logo da Universidade Federal de Alagoas"
        />
      </div>
      <h1 class="title">Central de Autenticação</h1>

      <label for="cpf" class="label">
        CPF
        <div class="input-container">
          <img class="icon" src="/icon/person.svg" alt="Ícone de Pessoa Física" />
          <input class="input" type="text" id="cpf" name="cpf" placeholder="" />
        </div>
      </label>
      <label for="password" class="label">
        Senha
        <div class="input-container">
          <img class="icon" src="/icon/lock.svg" alt="Ícone de Cadeado" />
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            placeholder=""
          />
        </div>
      </label>

      <button class="button">Entrar</button>

      <a href="#" class="link">Esqueceu a senha?</a>
    </form>
  </section>
</main>
<router-outlet />
